<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}climeXhue</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <!-- To add page specific elements -->
        {% block head %}{% endblock %} 
    </head>

    <body>

        <header>
            <!-- To add page specific header content -->
            {% block header %}{% endblock %}

        </header>

        <main>
            <!-- To add page specific elements -->
            {% block main %}{% endblock %}
        </main>

    </body>

</html>
