<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}climeXhue</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- To add page specific elements -->
        {% block head %}{% endblock %} 
    </head>

    <body>

        <header>
            <!-- To add page specific header content -->
            <h1>
                {% block h1 %}{% endblock %}
            </h1>
        </header>

        <main>
            <!-- To add page specific elements -->
            {% block main %}{% endblock %}
        </main>

    </body>

</html>
